/***************************\
*                           *
*         VARIABLES         *
*                           *
\***************************/

:root {
  color-scheme: light dark !important;

  /* Background COLORS */
  --color-surface-100:  #121212;
  --color-surface-200:  #282828;
  --color-surface-300:  #3f3f3f;
  --color-surface-400:  #575757;
  --color-surface-500:  #717171;
  --color-surface-600:  #8b8b8b;

  /* PRIMARY COLORS */
  --color-primary-100:  #e63415;
  --color-primary-200:  #ed532f;
  --color-primary-300:  #f46b48;
  --color-primary-400:  #fa8261;
  --color-primary-500:  #fe987a;
  --color-primary-600:  #ffad93;

  /* SECONDARY COLORS */
  --color-secondary-100:  #007373;
  --color-secondary-200:  #008080;
  --color-secondary-300:  #1a8d8d;
  --color-secondary-400:  #339999;
  --color-secondary-500:  #4da6a6;
  --color-secondary-600:  #66b3b3;

  /* --el-color-primary:  #1a8d8d !important; */
}


/*    https://colorffy.com/dark-theme-generator
Dark/Mixed - 100: For body background color


Dark/Mixed - 200: For cards background color

Dark/Mixed - 300: For chips buttons, dropdowns background color

Dark/Mixed - 400: For sidebars, navbar background color

Dark/Mixed - 500: For modal, dialogs background color

Dark/Mixed - 600: For on background texts color */


/***************************\
*                           *
*          COLORS           *
*                           *
\***************************/

.dark body {
  background-color: var(--el-bg-color-page);
  color: var(--el-text-color-primary);
}
body a,
a.nav-link {
  color: var(--el-color-primary);
}
body a:hover {
  color: var(--color-secondary-300);
}
.jumbotron {
  background-color: var(--el-card-bg-color);
}
.title {
  color: var(--el-color-primary);
}



/***************************\
*                           *
*          LAYOUT           *
*                           *
\***************************/
.flex-grow {
  flex-grow: 1;
}
.main {
  height: calc(100vh - 120px);
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* background-color: var(--color-surface-200); */
}

.center-horz {
  text-align: center;
}
.center-vert {
  align-content: center;
}

#app .el-icon,
#app .el-icon.el-dialog__close,
.el-icon.el-popconfirm__icon,
.el-icon.el-message__icon,
.el-icon.el-message__closeBtn {
  font-size: 28px;
  width: 28px;
}
